@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-dark-bg: var(--dark-bg);
  --color-text-primary: var(--text-primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-black-ops: var(--black-ops-one);
  --font-orbitron: var(--font-orbitron);
  --font-aref-ruqaa: var(--aref-ruqaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #f3f3f3;
    --dark-bg : #080808;
    --text-primary: #222222;
    --foreground: #ededed;
  }
}

@layer {
  .name-word {
    @apply mx-1 ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hero-grid {
  z-index: 0;
  pointer-events: none;

  /* background-image: linear-gradient(
      to right,
      rgba(104, 104, 104, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(104, 104, 104, 0.08) 1px, transparent 1px);
  background-size: 10px 10px; */

  /* -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 70%,
    transparent 90%
  ); */
}

.phone-bg {
  background: linear-gradient(145deg, #3d3d3d, #0a0a0a);
}
